.form {
  padding: 32rpx;
}

.form-item {
  margin-bottom: 24rpx;
}

input {
  border: 1px solid #ccc;
  padding: 5rpx;
  border-radius: 8rpx;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8rpx;
  height:60rpx;
}

.save-btn {
  background-color: #07c160;
  color: white;
  padding: 24rpx;
  border-radius: 16rpx;
  margin-top: 40rpx;
}