.container {
  padding: 32rpx;
}

.address-item {
  border: 1px solid #eee;
  border-radius: 12rpx;
  padding: 24rpx;
  margin-bottom: 20rpx;
  background-color: #fff;
  
}

.address-name {
  font-weight: bold;
  font-size: 32rpx;
}

.address-detail {
  font-size: 28rpx;
  color: #666;
  margin-top: 8rpx;
}

.empty {
  text-align: center;
  color: #aaa;
  margin-top: 100rpx;
}

.add-btn {
  margin-top: 60rpx;
  background-color: #07c160;
  color: #fff;
  border-radius: 16rpx;
  padding: 24rpx 0;
}