.order-list {
  padding: 16rpx;
}
.order-item {
  margin-bottom: 20rpx;
  padding: 20rpx;
  border: 1px solid #eee;
  border-radius: 10rpx;
}
.detail {
  max-width: 180rpx;
  background-color: #07c160;
  color: white;
  padding: 24rpx;
  border-radius: 16rpx;
  margin-top: 20rpx;
}

.order {
  border: 1px solid #eee;
  border-radius: 5rpx;
  margin: 10rpx;
}
.confirm-btn {
  margin: 20rpx;
  background-color: #e64340;
  color: white;
}
.download-btn {
  margin: 20rpx;
  background-color: green;
  color: white;
}
.aggregate {
  margin-top: 50rpx;
}