.order-list {
  padding: 16rpx;
}
.order-item {
  margin-bottom: 20rpx;
  padding: 20rpx;
  border: 1px solid #eee;
  border-radius: 10rpx;
}
.detail {
  max-width: 180rpx;
  background-color: #07c160;
  color: white;
  padding: 24rpx;
  border-radius: 16rpx;
  margin-top: 20rpx;
}